@import "variable.scss";
.classRoom{
    .classRoom_div{
        width: 100%;
        margin: 0 auto;
        text-align: left;
        height: calc(100vh - 100px);
    }
    .relevant{
        @extend %boxshadow;
        padding-top: 10px;
        height: 316px;
        overflow: auto
    }
    .classRoom_left{
        width: 100%;
        height: 580px;
        @extend %boxshadow;
        overflow: auto;
        position: relative;
    }
    .classRoom_player{
        padding:10px;
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        // height: 100%;
        width: 100%;
    }
    .classRoom_left1{
        @extend %boxshadow;
        padding:10px;
        margin-top: 4px;
        position: relative
    }
    .classRoom_left1 img{
        width: 24px;
        height:24px;
        position: relative;
        top: 4px;
    }
    .classRoom_border{
        width: 100%;
        height:130px;
        margin-top: 10px;
        cursor: pointer;
        word-wrap: break-word;
    }
    .classRoom_button{
        margin-top:20px;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background-size: 100% 100%;
        color: #33bbff;
        font-size: 25px;
        text-align: center;
        cursor: pointer;
    }
    .classRoom_CZ{
        bottom: 90px;
        left: 92%;
        width: 60px;
        height:35px;
        line-height: 35px;
        position: absolute;
        color: #fff
    }
    .classRoom_border_fileTitle{
        font-size: 14px;
        word-wrap: break-word;
        text-align: left;
        overflow: hidden;
        height:20px;
    }
}