@import "variable.scss";
.learning{
    .search{
        .el-input__inner{
            height: 50px;
            line-height: 60px;
        }
        .el-input-group__append{
            @extend %contentbgcolor;
            color: #fff;
            transition: background .3s,color .1s;
            &:hover{
                @extend %buttonhover;
            }
        }
    }
    .search_con{
        height: calc(100vh - 116px);
        max-height: calc(100vh - 116px);
        overflow: auto;
    }
    .el-pagination{
        background: #fff;
        padding: 5px;
    }
    .detail{
        margin-top:6px; 
        @extend %boxshadow;
        form{
            padding: 10px;
            box-sizing: border-box;
        }
    }
    .learning_ZL{
        @extend %boxshadow;
    }
    .rightList{
        margin-top: 6px;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: calc(100% - 94px);
        background: #fff;
        overflow: auto;
        li{
            text-align: center;
            display: inline-block;
            vertical-align: top;
            padding: 10px;
            margin: 0 10px 10px 10px;
            background: #fff;
            width: 180px;
            box-sizing: border-box;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            border: 1px solid #eee;
            cursor: pointer;
            .biao{
                color: #ef9435;
            }
        }
        h3{
            margin: 10px 0;
        }
        .listImg{
            width: 100%;
            height: 140px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .listImg img {
            width: 140px;
            max-height: 140px;
        }
    }
}
