@import "variable.scss";
.online{
    .search {
        width:100%;
        margin-bottom: 10px;
        .el-input-group__append{
            @extend %contentbgcolor;
            color: #fff;
            transition: background .3s,color .1s;
            &:hover{
                @extend %buttonhover;
            }
        }
    }
    #left-nav{
        width:20%;
        height: 100%;
          .el-submenu__title{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        .el-menu--collapse{
           width: 200px; 
        }
    }
    .isFixed{
        // position: fixed;
        // // left: 342px;
        // top: 0;
    }
    .rightNav{
        flex: 1;
        float: right;
        .pointer{
            cursor: pointer;
        }
        .el-menu-item{
            font-size: 16px;
            padding: 0 26px;
        }
        .el-menu--horizontal>.el-menu-item.is-active{
            @include inputcolor('2px');
        }
        #drag {
            position: absolute;
            right: 50%;
            top: 50%;
            transform:translate(-50%,-50%)
        }
        // 话题详情
        .mytopicDetails{
            width: 100%;
            .el-dropdown{
                position: absolute;
                right: 0;
                top: 0;
                margin-right: 0;
                font-size: 20px
            }
            .loginuser{
                position: static
            }
            .detail .rightCon .text-content p img{
                max-width: 100%
            }
            .clickpointer{
                font-size: 20px;
                text-align: center;
                width: 120px;
                margin: 0 auto;
                border-radius: 25px;
                border: 1px solid #bbb;
                cursor: pointer;
            }
            .clickpointer:hover {
                border: 1px solid #00AAFF;
            }
            .topic{
                 margin: 10px 0
            }
            .page {
                background: #fff;
                border-top: 1px dotted #ddddde;
                padding: 10px;
                margin-bottom: 10px
            }
            .reply {
                background: #fff;
                padding: 20px;
                border: 1px solid #e6e7eb;
            }
            .ql-editor {
                height: 200px
            }
            .detailTitle{
                height: 16px;
                padding: 20px;
                border-bottom: 1px solid #eaeced;
                display: flex;
                justify-content: space-between;
                background: #fff;
                h5 {
                    display: inline-block;
                    max-width: 530px;
                    font-size: 16px;
                    color: #404040;
                }
                .right-comment {
                    margin-top: -10px
                }
            }
            .detailIsFixed{
                position: fixed;
                height: 16px;
                padding: 20px;
                border: 1px solid #eaeced;
                display: flex;
                justify-content: space-between;
                @extend %boxshadow;
                width: 982px;
                z-index: 9;
                top: 0;
                h5 {
                    display: inline-block;
                    max-width: 330px;
                    font-size: 16px;
                    color: #404040;
                }
                .right-comment {
                    margin-top: -10px
                }
            }
            .listContent {
                .listContent-ul {
                    width: 100%;
                    height: 100%;
                    .listContent-ul-li {
                        position: relative;
                        background: #fff;
                        margin-bottom: 16px;
                        padding: 30px 19px;
                        .louzhuImg {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                        .leftMine {
                            width: 100px;
                            min-width: 100px;
                            height: auto;
                            .detailName {
                                padding-left: 6px
                            }
                            span {
                                width: 90%;
                                margin-top: 10px;
                                display: inline-block;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                    }
                }
                .detail {
                    display: flex;
                    justify-content: space-between;
                    .rightCon{
                        padding-right: 10px;
                        flex:1;
                        .text-content {
                            margin-bottom: 30px;
                            font-size: 14px;
                            color: #404040;
                            line-height: 1.714;
                            text-align: left;
                            min-height: 120px;
                            word-break: break-all;
                        }
                    }
                    .commentNum{
                        display: flex;
                        justify-content: space-between
                    }
                    .commentList{
                        padding: 20px 15px;
                        background: #f5f6f7;
                        margin-top: 20px;
                        .commentList-li{
                            padding: 15px 0;
                            border-bottom: 1px dotted #ddddde;
                            background: #f5f6f7
                        }
                        .list-in {
                            height: auto;
                            display: flex;
                            justify-content: space-between;
                            .list-con {
                                width: 93%;
                                height: auto;
                                font-size: 12px;
                                color: #333;
                                .list-con-top{
                                    min-height: 15px;
                                    margin-bottom: 5px;
                                    line-height: 1.3;
                                }
                                .list-con-bottom{
                                    display: flex;
                                    justify-content: space-between
                                }
                            }
                        }
                        .commentPage{
                            display: flex;
                            justify-content: space-between;
                            padding: 10px
                        }
                        .replyInput{
                            margin-top: 10px
                        }
                    }
                }
            }
        }
        // 新建话题
        .detailList{
            .topic {
                margin: 10px 0 
            }
            .ql-editor {
                height: 300px
            }
        }

        .myNews{
            .el-card__body{
                padding: 0
            }
            .textitem {
                padding: 15px;
                border-bottom: 1px dotted #E0E0E0;
                position: relative;
                .el-dropdown{
                    position: absolute;
                    right: 0;
                    top: 0;
                    margin-right: 0;
                    font-size: 20px
                }
            }
            .reply{
                display: flex;
                justify-content: space-between
            }
            .replyCon{
                margin: 5px 0
            }
            .replyTopic{
                margin-top: 6px;
            }
            .myComTop{
                padding: 10px;
                background: #eee
            }
            .myComTopCen{
                margin-bottom: 4px;
            }
            .myComName{
                color: #409EFF;
                display: inline-block
            }
            .myComCon{
                color: #929292
            }
        }

        .infinite-status-prompt{
            padding: 10px;
        }
            // .hotTopic li .content .topic-info .dataNum .watchNum,.hotTopic li .content .topic-info .dataNum .commentNum{
            //     margin-right: 20px;
            // }
    }
    .rightList{
        margin-top: 10px;
        display: inline-block;
        vertical-align: top;
        width: 800px;
        li{
            text-align: center;
            display: inline-block;
            vertical-align: top;
            padding: 10px;
            margin: 0 10px 20px 10px;
            background: #fff;
            width: 180px;
            box-sizing: border-box;
            overflow: hidden
        }
        .listImg,.listImg img{
            width: 160px;
            height: 160px;
        }
    }
}

// 热门话题
.hotTopic{
    width:100%;
    height: auto;
    background: #fff;
    li {
        position: relative;
        min-height: 72px;
        padding: 30px 19px;
        border-bottom: 1px solid #e6e7eb;
        .content {
            position: relative;
            height: auto;
            width: 100%;
            .topic-name{
                height: 40px;
                line-height: 40px;
                width: 100%;
                .pointName{
                    font-size: 18px;
                    color: #404040;
                    font-weight: 700;
                    margin-right: 15px;
                }
            }
            .topic-title {
                width: 100%;
                height: 30px;
                .title-value{
                    max-width: 520px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 18px;
                    color: #585858;
                    text-align: left;
                    margin-right: 5px;
                }
            }
            .topic-detail {
                width: 100%;
                min-height: 27px;
                margin-bottom: 10px;
                color: #585858;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                .detail-text{
                    font-size: 14px;
                    color: #a7a7a7;
                    max-height: 30px;
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    line-height: 24px;
                }
            }
            .topic-info {
                width: 100%;
                height: 20px;
                display: flex;
                justify-content: space-between;
                .userInfo{
                    min-width: 160px;
                    max-width: 400px;
                    .userInfoName{
                        display: inline-block;
                        position: relative;
                        line-height: 20px;
                        font-size: 12px;
                        color: #666;
                    }
                }
                .topicTime{
                    font-size: 12px;
                    color: #666;
                    margin-left: 5px;
                }
                .dataNum{
                    display: inline-block;
                    height: 20px;
                    line-height: 20px;
                    font-size: 12px;
                    color: #a7a7a7;
                    margin-top: 4px;
                    .watchNum,.commentNum{
                        margin-right: 20px;
                    }
                    img {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}