@import "variable.scss";
.ready{
    .top{
        @extend %boxshadow;
        margin: 0px auto;
        padding: 10px;
        box-sizing: border-box
    }
    .bottom{
        margin: 0 auto;
        padding: 10px;
        margin-top: 6px;
        @extend %boxshadow;
        box-sizing: border-box;
        height: calc(100vh - 254px);
        .KSXZ{
            padding: 10px;
            p {
                padding-bottom: 6px
            }
        }
    }
    .top_left{
        display: inline-block;
        border: 2px solid #144e71;
        border-radius: 50%;
        vertical-align: top
    }
    .top_right{
        position: relative;
        vertical-align: top;
        display: inline-block;
        width: 760px
    }
    .bottom_title{
        font-size: 20px
    }
    .bottom_title1{
        font-size: 18px
    }
    .stuexam{
        padding: 8px
    }
    .KS{
        text-align: center
    }
}